@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Red Hat Text", sans-serif;
}

body {
  background-color: hsl(13, 31%, 94%);
  color: hsl(14, 65%, 9%);
}

.App {
  max-width: 90rem;
  margin: 0 auto;
  background-color: hsl(13, 31%, 94%);
  padding: 3.5rem 1rem;

}

.main-container {
  max-width: 76rem;
  margin: 0 auto;
 display: flex;
 justify-content: center;
 gap: 2rem;

}

.desserts-container {
max-width: 50rem;

}

.desserts-list {
  display: grid;
  grid-template-columns: repeat(3, 15.65rem);
  gap: 1.5rem;
}

.dessert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.dessert-container img {
  max-width: 15.65rem;
}

.dessert-box {
  align-self: flex-start;
}

.cart-container {
background-color:hsl(20, 50%, 98%);
width: 24rem;
max-height: 18.69rem;
padding: 1.5rem;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
  padding: 0 1rem;
}

